.imgStyle{
    cursor: pointer;
    background-image: url('../assets/img/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 57px;
}

.iconStyle{
    font-size: 16px !important;
}

.textStyle{
    font-size: 14px !important;
    font-weight: 500;
}

.headerStyle{
    position: fixed !important;
    background: #fff !important;
    padding: 0;
    z-index: 1 !important;
    width: 100%;
    box-shadow: 0 0 28px 0 rgb(82 63 105 / 5%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24px;
}

.doctorImgHeader{
    background-image: url('../assets/img/doctor.png');
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: '50%';
    cursor: pointer;
}
.profileImageCointainer{
    width: 150px;
    height: 150px;
    border-radius: '50%';
    overflow: hidden;
    margin-bottom: 30px;
}


.profilePageStyle{
    background-image: url('../assets/img/doctor.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);

}

